@import "share/header.less";
@import "share/menu.less";
@import "ctool/iconfont.css";
@import "ctool/common.css";
.main-wrapper{
    max-width: 85%;
    min-width: 1710px;
    margin: 35px auto;
    .main-box{
        min-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}
