@import "share/header.less";
@import "share/menu.less";
@import "ctool/iconfont.css";
@import "ctool/common.css";
.main-wrapper{
    width: 1200px;
    margin: 35px auto;
    overflow: hidden;
    .main-box{
        float: left;
        width: 1000px;
        .content-box{
            width: 100%;
            position: relative;
            .process-box{
                width: 100%;
                min-height: 400px;
                background-color: #eeeff3;
                padding-top: 15px;
                .step-item{
                    margin-top: 10px;
                    text-align: center;
                    input{
                        height: 40px;
                        line-height: 40px;
                        border: 1px solid #dddddd;
                        outline: none;
                        text-align: center;
                        padding: 2px 15px;
                        border-radius: 6px;
                    }
                }
            }
            .list-box{
                width: 100%;
                margin: 15px auto 0;
                .list{
                    margin: 10px auto;
                    color: #333333;
                    .list-title{
                        background-color: #f2fbfb;
                        height: 80px;
                        p{
                            float: left;
                            width: 50%;
                            line-height: 80px;
                            font-size: 16px;
                            color: #333333;
                            padding-left: 20px;
                            strong{
                                font-size: 20px;
                            }
                            &.allright{
                                padding-right: 20px;
                                text-align: right;
                                font-size: 20px;
                                color: #00b2b8;
                            }
                        }
                    }
                    .list-right{
                        padding-left: 20px;
                        width: 100%;
                        line-height: 30px;
                        margin: 20px auto;
                        font-size: 18px;
                        strong{
                            font-size: 20px;
                            color: #00b2b8;
                        }
                    }
                    .list-wrong{
                        padding-left: 20px;
                        width: 100%;
                        line-height: 30px;
                        margin: 20px auto;
                        font-size: 18px;
                        strong{
                            font-size: 20px;
                            color: #de2828;
                        }
                    }
                }
            }
        }
    }
}
