<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="baidu-site-verification" content="waZF7x0Wdp">
    <meta name="shenma-site-verification" content="3db5d0fa59cb085d269f113e0239caa6_1543543837">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>
      console.log($("p").html())
    </script>
  </body>
</html>
