<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/majorchoose.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <div class="header-wrapper">
    <div class="header-box clearfix">
      <div class="header-logo">
        <a href="#">
          <img src="./images/logo.png" alt="logo">食品微生物 一 金黄色葡萄球菌检验</a>
      </div>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-box clearfix">
      <div class="now-pos"></div>
      <div class="back-home">
          您好，欢迎来到食品微生物 一金黄色葡萄球菌检验中心！
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="main-box">
        <div class="list clearfix">
          <label>选择身份：</label>
          <div class="item">
            <label class="choose">
              <input type="radio" name="identity" value="0">
              <span></span>
              学生
            </label>
            <label class="choose">
              <input type="radio" name="identity" value="1">
              <span></span>
              老师
            </label>
          </div>
        </div>
        <div class="list clearfix">
          <label>选择专业：</label>
          <div class="item">
            <select name="jpt" id="jpt">
              <option value="4">食品生物工艺专业</option>
            </select>
            <i></i>
          </div>
        </div>
        <div class="list clearfix">
          <label>选择班级：</label>
          <div class="item">
            <select name="classId" id="classId">
              <option value="">16级01班</option>
            </select>
            <i></i>
          </div>
        </div>
        <div class="btn-box">
          <input type="submit" class="sbtn" value="确认">
          <p class="reg-now" style="line-height: 50px;">
              <a href="/login.html" style="font-size: 14px;font-weight: 700;color: #00b2b8">已有账号，直接登录</a>
          </p>
        </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/majorchoose.js"></script>
</body>
</html>