<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuBeforeClass.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/menu")%>
          <div class="left-sidebar">
            <h3>课前习题</h3>
            <div class="student-front">
              <img src="./images/student-front.png" alt="student">
            </div>
            <ul class="side-list">
              <li>
                <a href="">· 学习金黄色葡萄球菌检验内容</a>
              </li>
              <li>
                <a href="">· 自主学习国家标准GB 4789.10-2016</a>
              </li>
              <li>
                <a href="">· 完成右边预习题</a>
              </li>
            </ul>
          </div>
          <div class="content-box">
            <form action="" method="post">
              <div class="list">
                <div class="requestion-box clearfix">
                  <div class="requestion">1.【多选】摄入金黄色葡萄球菌会造成哪些伤害（
                    <i class="answer A">A</i>
                    <i class="answer B">B</i>
                    <i class="answer C">C</i>
                    <i class="answer D">D</i>）</div>
                  <div class="check-answer awrong">
                    <span>
                      <i class="iconfont icon-cuowu"></i>正确</span>
                  </div>
                </div>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="B">
                  <span></span>B.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="C">
                  <span></span>C.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="D">
                  <span></span>D.呕吐</label>
              </div>
              <div class="list">
                <div class="requestion-box clearfix">
                  <div class="requestion">1.【多选】摄入金黄色葡萄球菌会造成哪些伤害（
                    <i class="answer A">A</i>
                    <i class="answer B">B</i>
                    <i class="answer C">C</i>
                    <i class="answer D">D</i>）</div>
                  <div class="check-answer aright">
                    <span>
                      <i class="iconfont icon-zhengque"></i>正确</span>
                  </div>
                </div>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
              </div>
              <div class="list">
                <div class="requestion-box clearfix">
                  <div class="requestion">1.【多选】摄入金黄色葡萄球菌会造成哪些伤害（
                    <i class="answer A">A</i>
                    <i class="answer B">B</i>
                    <i class="answer C">C</i>
                    <i class="answer D">D</i>）</div>
                  <div class="check-answer aright">
                    <span>
                      <i class="iconfont icon-zhengque"></i>正确</span>
                  </div>
                </div>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
              </div>
              <div class="list">
                <div class="requestion-box clearfix">
                  <div class="requestion">1.【多选】摄入金黄色葡萄球菌会造成哪些伤害（
                    <i class="answer A">A</i>
                    <i class="answer B">B</i>
                    <i class="answer C">C</i>
                    <i class="answer D">D</i>）</div>
                  <div class="check-answer aright">
                    <span>
                      <i class="iconfont icon-zhengque"></i>正确</span>
                  </div>
                </div>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" value="A">
                  <span></span>A.呕吐</label>
                <label class="item">
                  <input type="checkbox" checked value="A">
                  <span></span>A.呕吐</label>
              </div>
              <div class="btn-box">
                <input type="submit" class="sbtn" value="提交">
              </div>
            </form>
          </div>
      </div>
    </div>
    <script type="text/javascript">
      $(".item").on("click", function () {
        var answerd = $.trim($(this).find('input[type="checkbox"]').val());
        if ($(this).find('input[type="checkbox"]').prop('checked')) {
          $(this).siblings('.requestion-box').find('.' + answerd).show()
        } else {
          $(this).siblings('.requestion-box').find('.' + answerd).hide()
        }

      })
    </script>
</body>

</html>