<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuSummarize.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/stumenu")%>
          <div class="content-box">
            <div class="list">
              <h3>
                <span></span>课前习题</h3>
              <table>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>得分</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>陈懿</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td class="score">60</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="list">
              <h3>
                <span></span>检验流程</h3>
              <table>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>得分</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>陈懿</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td class="score">60</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="list">
              <h3>
                <span></span>完善流程</h3>
              <table>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>第一题</th>
                    <th>得分</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>陈懿</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td class="score">60</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="detail-wrapper">
              <div class="detail-list1">
                <h3>
                  <span></span>VR实验记录</h3>
                <table>
                  <thead>
                    <tr>
                      <th>操作</th>
                      <th>数据</th>
                      <th>完成情况</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>消毒</td>
                      <td>/</td>
                      <td>已完成</td>
                    </tr>
                    <tr>
                      <td>称量</td>
                      <td>/</td>
                      <td>已完成</td>
                    </tr>
                    <tr>
                      <td>革兰氏染色</td>
                      <td>/</td>
                      <td>已完成</td>
                    </tr>
                    <tr>
                      <td>血浆凝固酶试验</td>
                      <td>/</td>
                      <td>已完成</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="detail-list2">
                <h3>
                  <span></span>上传的视频</h3>
                <div class="video-box">

                </div>
              </div>
              <div class="detail-list3">
                <h3>
                  <span></span>我的总结</h3>
                <p class="report">我的总结我的总结我的总结我的总结我的总结我的总结我的总结我的总结我的总结我的总结我的总结我的总结</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</body>

</html>