<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/tch3D.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
        <%- include("share/tchmenu")%>
      <div class="main-box">
     
        <div class="content-box">
                <div class="tab-box">
                    <a href="javascript:void(0)" class="active">金黄色葡萄球菌检验3D游戏各环节操作错误次数
                        <span></span>
                    </a>
                    <a href="javascript:void(0)">金黄色葡萄球菌检验3D游戏各环节操作完成时间（min）
                        <span></span>
                    </a>
                </div>
                <div class="tab-main-wrapper">
                    <div class="tab-main active">
                        <table>
                            <!-- <thead>
                                        <tr class="left-border">
                                            <th>第一天</th>
                                            <th>第二天</th>
                                            <th>第三天</th>
                                            <th>第四天</th>
                                            <th>第五天</th>
                                            <th>第六 天</th>
                                        </tr>
                                    </thead> -->
                            <tbody>
                                <tr>
                                    <td class="td-left-border">
                                        <span class="order-num">01</span>
                                        <span class="named">王天成</span>
                                    </td>
                                    <td class="bg1 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg2 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg3 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg4 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg5 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg6 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg7 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td>数据6</td>
                                    <td>数据6</td>
                                </tr>
                                <tr>
                                    <td class="td-left-border">
                                        <span class="order-num">01</span>
                                        <span class="named">王天成</span>
                                    </td>
                                    <td class="bg1 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg2 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg3 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg4 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg5 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg6 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg7 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td>数据6</td>
                                    <td>数据6</td>
                                </tr>
                                <tr>
                                    <td class="td-left-border">
                                        <span class="order-num">01</span>
                                        <span class="named">王天成</span>
                                    </td>
                                    <td class="bg1 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg2 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg3 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg4 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg5 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg6 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg7 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td>数据6</td>
                                    <td>数据6</td>
                                </tr>
                                <tr>
                                    <td class="td-left-border">
                                        <span class="order-num">01</span>
                                        <span class="named">王天成</span>
                                    </td>
                                    <td class="bg1 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg2 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg3 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg4 resetnum">
                                        <span>10</span>
                                    </td>
                                    <td class="bg5 resetnum">
                                        <span>5</span>
                                    </td>
                                    <td class="bg6 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td class="bg7 resetnum">
                                        <span>15</span>
                                    </td>
                                    <td>数据6</td>
                                    <td>数据6</td>
                                </tr>
                                <tr class="tr-bottom">
                                    <td class="td-left-border td-bottom"></td>
                                    <td class="bg1">
                                        <span>消毒</span>
                                    </td>
                                    <td class="bg2">
                                        <span>样品处理</span>
                                    </td>
                                    <td class="bg3">
                                        <span>增菌</span>
                                    </td>
                                    <td class="bg4">
                                        <span>分离</span>
                                    </td>
                                    <td class="bg5">
                                        <span>初步鉴定
                                            <p>典型菌落判断</p>
                                        </span>
                                    </td>
                                    <td class="bg6">
                                        <span>确证鉴定1
                                            <p>（革兰氏染色）</p>
                                        </span>
                                    </td>
                                    <td class="bg7">
                                        <span>确证鉴定2
                                            <p>（血浆凝固酶试验）</p>
                                        </span>
                                    </td>
                                    <td class="bg-spec">
                                        <span>总错误次数</span>
                                    </td>
                                    <td class="bg-spec">
                                        <span>完成情况</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-main">22</div>
                </div>

                <div class="group-wrapper">
                    <form action="" method="POST" class="group-box clearfix">
                        <div class="list">
                            <div class="list-title clearfix">
                                <p class="desc">选择第一小组名单：</p>
                                <div class="item clearfix">
                                    <select name="" id="">
                                        <option value="">朱似君</option>
                                    </select>
                                    <i></i>
                                    <a href="javascript:void(0)" class="sbtn">选择</a>
                                </div>
                            </div>
                            <div class="list-main">
                                <span>朱似君
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div class="list">
                            <div class="list-title clearfix">
                                <p class="desc">选择第一小组名单：</p>
                                <div class="item clearfix">
                                    <select name="" id="">
                                        <option value="">朱似君</option>
                                    </select>
                                    <i></i>
                                    <a href="javascript:void(0)" class="sbtn">选择</a>
                                </div>
                            </div>
                            <div class="list-main">
                                <span>朱似君
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div class="list nofloat">
                            <div class="list-title clearfix">
                                <p class="desc">选择第一小组名单：</p>
                                <div class="item clearfix">
                                    <select name="" id="">
                                        <option value="">朱似君</option>
                                    </select>
                                    <i></i>
                                    <a href="javascript:void(0)" class="sbtn">选择</a>
                                </div>
                            </div>
                            <div class="list-main">
                                <span>朱似君
                                    <i></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="btn-wrapper">
                    <p>分组原则：组间相同 组内异质</p>
                    <div>
                        <button class="qbtn">确认</button>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".resetnum span").each(function (index, item) {
                $(this).css('width', $(item).html())
                // $(item).html('')
            })
        })
        $(".tab-box>a").on("click", function () {
            var index = $(this).index();
            $(this).addClass("active").siblings('a').removeClass('active');
            $('.tab-main').removeClass("active");
            $('.tab-main').eq(index).addClass('active');
        })
    </script>
</body>

</html>