<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .div_bor{
            border:1px solid #274b8b ;
            padding: 5px 5px 10px 5px;
        }
    </style>
</head>
<body>
<div class="div_bor">
    <p>这是题目</p>
    <p><input type="checkbox" value="A"> A.选项1</p>
    <p><input type="checkbox" value="B"> B.选项2</p>
    <p><input type="checkbox" value="C"> C.选项3</p>
    <p><input type="checkbox" value="D"> D.选项4</p>
    <p><input type="checkbox" value="E"> E.选项5</p>
    <p><button style="float: right" onclick="fn()">确定</button></p>
</div>
<script>
    var rule = ['A','C','D'];//答案
    var boxs = document.getElementsByTagName('input');
    var check = [];
    var score = 0;
    function fn(){
        check=[];
        score = 0; 
        for(var i=0;i<boxs.length;i++){
            if(boxs[i].checked){
                check.push(boxs[i].value);
            }
        }
 
        for(var j=0;j<check.length;j++){
            if(rule.indexOf(check[j]) !=-1){
                score++;
            }else{
                score--;
            }
        }
        alert(Math.ceil(100/rule.length*score)+'分'); // 分数规则,自己定吧
    }
 
</script>





<div class="zst-box mt-8">
    <div class="zst-title"><h2>工具/走势图/遗漏</h2></div>
    <div class="zst-list">
        <ul>
            <li class="t">福彩3D：</li>
            <li><a href="https://www.55128.cn/zs/1_1.htm" target="_blank">福彩3D走势图</a></li>
            <li><a href="https://www.55128.cn/zs/1_10.htm" target="_blank">3D试机号走势</a></li>
            <li><a href="https://www.55128.cn/tool/3dss.aspx" target="_blank">3D过滤缩水</a></li>
            <li><a href="https://www.55128.cn/tool/3d_sjh.aspx" target="_blank">3D试机号分析</a></li>
            <li><a href="https://www.55128.cn/yl/1_44.htm" target="_blank">3D数字遗漏</a></li>
        </ul>
        <div class="dashed-line"></div>
        <ul>
            <li class="t">排列三：</li>
            <li><a href="https://www.55128.cn/zs/2_14.htm" target="_blank">P3出号走势图</a></li>
            <li><a href="https://www.55128.cn/zs/2_23.htm" target="_blank">P3组三走势图</a></li>
            <li><a href="https://www.55128.cn/tool/p3ss.aspx" target="_blank">P3过滤缩水</a></li>
            <li><a href="https://www.55128.cn/tool/tools_p3wch.aspx" target="_blank">P3未出号查询</a></li>
            <li><a href="https://www.55128.cn/yl/2_51.htm" target="_blank">P3数字遗漏</a></li>
        </ul>
        <div class="dashed-line"></div>
        <ul>
            <li class="t">双色球：</li>
            <li><a href="https://www.55128.cn/zs/4_26.htm" target="_blank">号码出号走势</a></li>
            <li><a href="https://www.55128.cn/zs/4_42.htm" target="_blank">蓝球出号走势</a></li>
            <li><a href="https://www.55128.cn/tool/ssq_ss.aspx" target="_blank">免费在线缩水</a></li>
            <li><a href="https://www.55128.cn/tool/ssqgs.aspx" target="_blank">号码跟随分析</a></li>
            <li><a href="https://www.55128.cn/yl/4_59.htm" target="_blank">红球遗漏</a></li>
        </ul>
        <div class="dashed-line"></div>
        <ul>
            <li class="t">大乐透：</li>
            <li><a href="https://www.55128.cn/zs/12_96.htm" target="_blank">号码出号走势</a></li>
            <li><a href="https://www.55128.cn/zs/12_97.htm" target="_blank">前区和值走势</a></li>
            <li><a href="https://www.55128.cn/tool/dlt_qss.aspx" target="_blank">免费在线缩水</a></li>
            <li><a href="https://www.55128.cn/tool/dlt_gs.aspx" target="_blank">号码跟随分析</a></li>
            <li><a href="https://www.55128.cn/tool/dlt_kjhdb.aspx" target="_blank">历史开奖对比</a></li>
        </ul>
        <div class="dashed-line"></div>
        <ul>
            <li class="t">七乐彩：</li>
            <li><a href="https://www.55128.cn/zs/5_34.htm" target="_blank">号码出号走势</a></li>
            <li><a href="https://www.55128.cn/zs/5_35.htm" target="_blank">和值走势图</a></li>
            <li><a href="https://www.55128.cn/tool/qlc_ss.aspx" target="_blank">免费在线缩水</a></li>
            <li><a href="https://www.55128.cn/tool/qlc_gs_fx.aspx" target="_blank">号码跟随分析</a></li>
            <li><a href="https://www.55128.cn/tool/qlc_kjhdb.aspx" target="_blank">历史开奖对比</a></li>
        </ul>
        <div class="dashed-line"></div>
        <ul>
            <li class="t">七星彩：</li>
            <li><a href="https://www.55128.cn/zs/19_155.htm" target="_blank">七星彩走势图</a></li>
            <li><a href="https://www.55128.cn/zs/19_156.htm" target="_blank">和值走势图</a></li>
            <li><a href="https://www.55128.cn/zs/19_157.htm" target="_blank">出号分析图</a></li>
            <li><a href="https://www.55128.cn/tool/p7_ss.aspx" target="_blank">免费组号缩水</a></li>
            <li><a href="https://www.55128.cn/tool/qxc_fs_array.aspx" target="_blank">复式排列组号</a></li>
        </ul>
    </div>
</div>




</body>
</html>