<div class="header-wrapper">
    <div class="header-box clearfix">
        <div class="header-logo">
            <a href="#"><img src="./images/logo.png" alt="logo">食品微生物 一 金黄色葡萄球菌检验</a>
        </div>
        <div class="header-search-wrapper clearfix">
            <div class="search-box clearfix">
                <input type="text" placeholder="在线试题" class="search">
                <button>搜索</button>
            </div>
            <div class="header-name">你好：<span>王天成</span></div>
        </div>
    </div>
</div>
<div class="nav-wrapper">
    <div class="nav-box clearfix">
        <div class="now-pos">当前位置：<span>习前题课</span></div>
        <div class="back-home"><a href=""><i class="iconfont icon-home"></i>返回首页</a></div>
    </div>
</div>