<div class="sidebar">
    <div class="back">
        <a href="student.html">
            <i class="iconfont icon-home"></i>返回首页</a>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课前</a>
        <ul class="tab">
            <li>
                <a href="student-bc.html">课前习题</a>
            </li>
        </ul>
    </div>

    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课中</a>
        <ul class="tab">
            <li>
                <a href="javascript:void(0)">3D模拟</a>
            </li>
            <li>
                <a href="student-ws.html">完善流程</a>
            </li>
            <li>
                <a href="">VR实验</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <a href="student-af.html">
            <i class="iconfont icon-home"></i>课后</a>
    </div>
</div>