<div class="sidebar">
    <div class="back">
        <a href="/stubeforeclass.html">
            <i class="iconfont icon-home"></i>返回首页</a>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课前</a>
        <ul class="tab">
            <li>
                <a href="/stubeforeclass.html">课前习题</a>
            </li>
        </ul>
    </div>

    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课中
        </a>
        <ul class="tab">
            <li>
                <a href="/stucheckprocess.html">检验流程</a>
            </li>
            <li>
                <a href="/stuanswerprocess.html">活动分组</a>
            </li>
            <li>
                <a href="/stuimproveprocess.html">完善流程</a>
            </li>
            <li>
                <a href="/stuvr.html">VR实验</a>
            </li>
            <li>
                <a href="/stuupload.html">视频上传</a>
            </li>
            <li>
                <a href="/stuvideo.html">视频</a>
            </li>
            <li>
                <a href="/studiscuss.html">讨论</a>
            </li>
            <li>
                <a href="/stuaftercalss.html">点评</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课后
        </a>
        <ul class="tab">
            <li><a href="/stusummarize.html">总结</a></li>
        </ul>
    </div>
</div>