.header-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 104px;
  margin: 0 auto;
  background-color: #00b2b8;
}
.header-wrapper .header-box {
  width: 1200px;
  margin: 0 auto;
}
.header-wrapper .header-box .header-logo {
  float: left;
  width: 55%;
  line-height: 104px;
}
.header-wrapper .header-box .header-logo a {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}
.header-wrapper .header-box .header-logo a img {
  max-width: 100%;
  margin-right: 10px;
}
.header-wrapper .header-box .header-search-wrapper {
  float: right;
  width: 45%;
}
.header-wrapper .header-box .header-search-wrapper .search-box {
  float: left;
  width: 60%;
  width: 382px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #fff;
  margin-right: 45px;
  margin-top: 30px;
}
.header-wrapper .header-box .header-search-wrapper .search-box .search {
  float: left;
  width: 300px;
  height: 42px;
  border: none;
  background-color: transparent;
  line-height: 40px;
  padding: 0 10px;
  font-size: 14px;
}
.header-wrapper .header-box .header-search-wrapper .search-box .search::-webkit-input-placeholder {
  color: #ffffff;
}
.header-wrapper .header-box .header-search-wrapper .search-box .search:-moz-placeholder {
  color: #ffffff;
}
.header-wrapper .header-box .header-search-wrapper .search-box .search::-moz-placeholder {
  color: #ffffff;
}
.header-wrapper .header-box .header-search-wrapper .search-box .search:-ms-input-placeholder {
  color: #ffffff;
}
.header-wrapper .header-box .header-search-wrapper .search-box button {
  float: left;
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #00b2b8;
  font-size: 14px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-wrapper .header-box .header-search-wrapper .search-box button:hover {
  opacity: 0.9;
}
.header-wrapper .header-box .header-search-wrapper .header-name {
  float: left;
  line-height: 104px;
  color: #ffffff;
}
.nav-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 40px;
  line-height: 40px;
  background-color: #ccf0f1;
  margin: 0 auto;
}
.nav-wrapper .nav-box {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
}
.nav-wrapper .nav-box .now-pos {
  float: left;
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  line-height: 35px;
}
.nav-wrapper .nav-box .back-home {
  line-height: 30px;
  float: left;
  width: 50%;
  text-align: right;
  color: #00b2b8;
  font-size: 14px;
  font-weight: bold;
}
.nav-wrapper .nav-box .back-home a {
  color: #00b2b8;
  font-size: 14px;
}
.nav-wrapper .nav-box .back-home a i {
  margin-right: 5px;
  font-size: 18px;
}
.nav-wrapper .nav-box .back-home a:hover {
  opacity: 0.9;
}
.nav-wrapper .nav-box .back-home .loginout {
  margin-right: 5px;
}
